.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 2px solid rgba(255, 140, 0);
}

.recovered {
  border-bottom: 2px solid rgba(127, 255, 0);
}

.deaths {
  border-bottom: 2px solid rgba(220, 20, 60);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
